<section id="disqus_thread" class="animated fadeInUp">
    <script src="https://giscus.app/client.js"
    data-repo="xrabcde/xrabcde.github.io-comments"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzODAxODE3NDU="
    data-category="Comments"
    data-category-id="DIC_kwDOFqkc8c4CbDxR"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>
</section>
